<div class="container pt-4">
  <h2>Add a new movie bookmark</h2>
  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.association :list %>
  <%= f.input :comment %>
  <%= f.submit %>
  <% end %>
</div>
